<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="CI Builds" value="https://myget.org/F/msbuildsdkextras/api/v3/index.json" />
    <add key="offline" value="%userprofile%\.nuget\packages" />
		<add key="temp" value="%temp%\packages" />
	</packageSources>
</configuration>
